<div class="container">
  <div class="row" style="margin-top: 25px;">
    <div class="col-xs-12 col-md-4">
      <div class="left">
        <div class="img-deck">
          <%= image_tag @deck.cover_image %>
        </div>
        <div class="txt">
          <div class="name-deck">
            <span class="name"><%= @deck.title %></span>
          </div>
          <div class="description-deck">
            <span class="des"><%= @deck.description %></span>
          </div>
          <div class="author">
            <div class="img">
              <%= image_tag "avatar.png" %>
              <a href="#" class="name"> <%= @deck.user.email %></a>
            </div>
          </div>
          <div class="btn-ct">
            <button type="button" class="btn btn-outline-success" style="width: 80%; margin-right: 5px;"><i class="fa fa-star-o" aria-hidden="true"></i> FAVORITE</button>
            <button type="button" class="btn btn-outline-success" style="width: 15%"><i class="fa fa-external-link" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="right">
        <div class="s-select">
          <span onclick="openTab('b1','bb1');"><a href="#" id="bb1" class="s-txt lessons s-active"> LESSONS</a></span>
          <span onclick="openTab('b2','bb2');"><a href="#" id="bb2" class="s-txt cards"> CARDS (<%= @cards.length() %>)</a></span>
        </div>
        <hr style="margin-top: 0;">

        <div class="container">
          <div id="b1" class="containerTab">
            <div class="list-lesson">
              <div class="row">
                <% @lessons.each do |lesson| %>
                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="item-lesson" onclick="modalLesson(<%= lesson.id %>)">
                      <%= image_tag "lesson.png" %>
                    </div>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade bd-example-modal-lg" id="<%= lesson.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 id="title<%= lesson.id %>"></h3>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                          <% lesson.cards.each do |card|%>
                            <div class="containerr">
                              <div class="ct-card">
                                <div class="item-card front" style="border-radius: 15px;">
                                  <% if card.picture.blank? %>
                                    <%= card.front %>
                                  <% else %>
                                    <%= image_tag card.picture, style: "width: 100%" %>
                                  <% end %>
                                </div>
                                <div class="item-card back">
                                  <%= card.back %>
                                </div>
                              </div>
                            </div>
                          <% end %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success align-content-end">Continue</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div id="b2" class="containerTab" style="display:none;">
            <div class="list-card">
              <div class="row">
                <% @cards.each do |card| %>
                  <div class="containerr">
                    <div class="ct-card">
                      <div class="item-card front">
                        <% if card.picture.blank? %>
                          <%= card.front %>
                        <% else %>
                          <%= image_tag card.picture %>
                        <% end %>
                      </div>
                      <div class="item-card back">
                        <%= card.back %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

