<tr id="post-<%= deck.id %>">
  <td>
    <%= link_to image_tag(deck.cover_image, class: "avatar-post") %>
  </td>
  <td>
    <%= link_to image_tag(deck.user.avatar, class: "avatar") %>
    <%= link_to deck.user.name %>
  </td>
  <td>
    <%= link_to deck.title %>
  </td>
  <td>
    <%= deck.cards.size %>
  </td>
  <td>
    <% if current_admin %>
      <% if current_admin %>
        <%= link_to "Delete", admins_deck_path(deck), method: :delete, remote: true,
         data: {confirm: "Are you sure delete it?"}, class: "btn btn-danger button_text" %>
      <% end %>
    <% end %>
  </td>
</tr>
