<footer>
  <div class="container">
    <div class="quick-links">
      <%= link_to "ABOUT", root_path, class: "link-item" %>
      <%= link_to "SUPPORT", "#", class: "link-item" %>
      <%= link_to "TERMS", "#", class: "link-item" %>
      <%= link_to "DOULINGO", "#", class: "link-item" %>
      <%= link_to "FACEBOOK", "#", class: "link-item" %>
      <%= link_to "TWITTER", "#", class: "link-item" %>
    </div>
  </div>
</footer>
