<!DOCTYPE html>
<html>
  <head>
    <title>Tinycards</title>
    <link rel="icon" sizes="192x192" href="//d17u0960v8a9bp.cloudfront.net/192x192.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <script src="javascripts/jssor.slider-26.8.0.min.js" type="text/javascript"></script>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
