<!DOCTYPE html>
<html>
  <head>
    <title>Tinycards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script src="javascripts/jssor.slider-26.6.0.min.js" type="text/javascript"></script>

    <%= render "layouts/header" %>
    <div class="container">
      <div class="show-value">
        <%= yield %>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
