<nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-dashboard"></i>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-globe"></i>
            <span id="notification_count"><%= current_admin.notification_count %></span>
            <b class="caret hidden-sm hidden-xs"></b>
            <p class="hidden-lg hidden-md">
              <%= t ".notifications" %>
              <b class="caret"></b>
            </p>
          </a>
          <ul class="dropdown-menu" style="height: 400px;width: 330px;overflow: auto;">
            <% current_admin.notifications.unread.each do |noti| %>
              <li style="height: 55px;background-color: antiquewhite;">
                <%= link_to(admins_feed_backs_path) do %>
                  <%= image_tag('icon-warning.png',style: "width: 40px; margin-right: 15px") %>
                  <div style="display: inline-table;">
                    <p><%= noti.feed_back.status %></p>
                    <p style="color: #648de2;">by <%= noti.feed_back.user.name %></p>
                  </div>
                <% end %>
              </li>
              <hr style="margin: 0px">
            <% end %>

            <% current_admin.notifications.read.each do |noti| %>
              <li style="height: 55px">
                <%= link_to(admins_feed_backs_path) do %>
                  <%= image_tag('icon-warning.png',style: "width: 40px; margin-right: 15px") %>
                  <div style="display: inline-table;">
                    <p><%= noti.feed_back.status %></p>
                    <p>by <%= noti.feed_back.user.name %></p>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <p><%= t ".account" %><b class="caret"></b></p>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t(".profile"), "#" %></li>
            <li><%= link_to t(".settings"), "#" %></li>
            <li><%= link_to t(".logout"), destroy_admin_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
