<tr id="<%= user.id %>">
  <td>
    <%= user.id %>
  </td>
  <td>
    <%= image_tag(user.avatar, class: "avatar") %>
    <%= user.name %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= l user.created_at, format: :format_datetime %>
  </td>
  <td>
    <%= l user.updated_at, format: :format_datetime %>
  </td>
  <td>
    <%= user.decks.size %>
  </td>
  <td>
    <% if current_admin %>
      <%= link_to "Delete", admins_user_path(user), method: :delete, remote: true,
        data: {confirm: "Are you sure delete it?"}, class: "btn btn-danger button_text" %>
    <% end %>
  </td>
</tr>
